#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 100;
}
.navbar-brand img
{
	height: 160px;
	padding-left: 20px;
}

.navbar-nav li
{
	padding: 0 20px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover
{
	color: black!important;
}

.navbar 
{
	font-family:"impact, fantasy" !important;
	background: white;
	font-weight: 1000;
}

.navbar.navbar-expand-lg.navbar-light li a{
    color: rgb(51, 51, 51)!important;
}

.navbar-toggler
{
	border: none!important;
}
.navlink
{
	color: rgb(51, 51, 51)!important;
	font-weight: 600;
	font-size: 20px;
}

#slider
{
	width: 100%
}

.carousel-caption{
	top:10%;
	transform: translateY(-50%);
	bottom: initial!important;
	font-family: "courier";
}

.carousel-caption h5
{
	color: rgb(51, 51, 51);
	font-size:22px;
	 
}

#about
{
	width: 100%
}

.container
{
	padding-top: 50px;
	font-family: "impact, fantasy";
	padding-bottom: 20px;

}

.container h5
{
	color:rgb(51, 51, 51);
	font-size:20px;
	font-weight: bold;
}

#contact
{
	padding-top: 20px;
	width: 100%
}

/*i.fa 
{
	-webkit-animation: show 10s 1;
	/* any other properties to override from FontAwesome's default .fa rule */
/*}
@-webkit-keyframes show 
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}*/


#contact a:hover
{
	color: black!important;
}

.fa-skype:hover {
    color:black!important;
}

.fa-linkedin:hover {
    color:black!important;
}

.fa-github:hover {
    color:black!important;
}
.fa-envelope:hover {
    color:black!important;
}
.fa-file:hover {
    color:black!important;
}

.firstName
{
	color:rgb(54, 54, 54)!important;
	font-family: "impact";
	font-size:35px;
	height: 60px;
}

.lastName
{
	color:rgb(161, 160, 160)!important;
	font-family: "impact";
	font-size:35px;
	height: 60px;
}


#about2
{
	padding-top: 10px;
	background-color:rgb(223, 223, 223)!important;

}

#about2 h2
{
	font-family: "impact";
	padding-bottom: 40px;
	padding-top:0px;
	color:rgb(54, 54, 54);
	font-weight: 1000;
}

#about2 h6
{
	font-family: "Gill sans";
	padding-bottom: 35px;
	color:rgb(54, 54, 54);
	font-size:20px;
	font-weight: 550;

}


#education
{
	padding-top: 10px;
	background-color:rgb(223, 223, 223)!important;

}

#education h2
{
	font-family: "impact";
	padding-bottom: 40px;
	color:rgb(54, 54, 54);
	font-weight: 1000;
}

#education h3
{
	font-family: "impact";
	padding-bottom: 0px;
	color:rgb(54, 54, 54);
	font-weight: 1000;
	font-size: 25px;
	padding-bottom: 15px;
}

#education h5
{
	font-family: "courier";
	padding-bottom: 0px;
	color:rgb(54, 54, 54);
	font-weight: bold;
	font-size: 18px;
}


#education h6
{
	font-family: "courier";
	padding-bottom: 40px;
	color:rgb(54, 54, 54);
	font-weight: 300;
	font-size: 18px;
}

#education a
{
	color: rgb(87, 59, 59)!important;
}

#education a:hover
{
	color: black!important;
}






#research
{
	padding-top: 10px;
	background-color:rgb(223, 223, 223)!important;

}

#research h2
{
	font-family: "impact";
	padding-bottom: 40px;
	color:rgb(54, 54, 54);
	font-weight: 1000;
}

#research h3
{
	font-family: "impact";
	padding-bottom: 0px;
	color:rgb(54, 54, 54);
	font-weight: 1000;
	font-size: 25px;
	padding-bottom: 15px;
}

#research h5
{
	font-family: "courier";
	padding-bottom: 0px;
	color:rgb(54, 54, 54);
	font-weight: bold;
	font-size: 18px;
}


#research h6
{
	font-family: "courier";
	padding-bottom: 40px;
	color:rgb(54, 54, 54);
	font-weight: 300;
	font-size: 18px;
}

#research a
{
	color: rgb(87, 59, 59)!important;
}

#research a:hover
{
	color: black!important;
}






#Resume h2
{
	font-family: "impact";
	padding-bottom: 10px;
	padding-top: 30px;
}

#Resume
{
	background-color:rgb(223, 223, 223)!important;
	padding-bottom: 35px;
}

#contact
{
	padding-bottom: 50px;
	background-color:white!important;
}

#contact h3
{
	font-family: "impact";
	padding-bottom: 50px;
}


#page-footer {
    background: rgb(161, 160, 160);
    bottom: 0;
    color: rgb(54, 54, 54);
	font-family: "impact, fantasy";
	height: 22px;
	font-size:15px;
    position: sticky;
	font-weight: 500;
}